extends skeleton
block main
  div.main
    div.counts
      h2 Population Δ on Earth 
      span.counter#earthpop ø
    div.counts
      h2 Planets found by <a href="http://kepler.nasa.gov/">Kepler</a>
      span.counter#kepler.kepler ø
    div.counts
      h2 Planets maybe found
      span.counter#keplercand.kepler ø
    div.counts
      h2 Planets with Life
      span.counter 1
    div.counts
      h2 Continuous Time in Space
      span.counter#isstime ø
    div.counts
      h2 Martian Solar Longitude
      span.counter#ls ø
    div.counts
      h2 Today's <a href="//cab.inta-csic.es/rems">Martian Weather</a>
      span.counter#mweather ø
    div.counts
      h2 Curiosity Temperature
      span.counter#mtemp ø
    div.counts
      h2 ISS Ground Coordinates 
      span.counter#isslat ø°N ø°W
